<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
 <style>
    body {
      font-family: 'Verdana', sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f9f9f9;
    }

    .container {
      margin-top: 20px;
    }

    .card {
      border: none;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
      transition: box-shadow 0.3s ease;
    }

    .card-body:hover {
      transform: scale(1.05);
      transition: transform 0.3s ease;
      box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.2);
    }

    /* Colores diferentes para cada organización */
    .site-item:nth-child(odd) .card {
      background-color: #6079a5; /* Azul desaturado */
      color: #ffffff; /* Texto blanco */
    }

    .site-item:nth-child(even) .card {
      background-color: #9fbf8b; /* Verde desaturado */
      color: #ffffff; /* Texto blanco */
    }

    .card-title {
      font-size: 20px;
      margin-bottom: 10px;
      font-weight: bold;
    }

    .card-body {
      padding: 20px;
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  </style>
  <title>Organizaciones para tomar datos</title>
</head>
<body>
   <div class="container mt-4">
    <div class="jumbotron text-center">
      <h1 class="display-4">¡Bienvenido a Datos Dinámicos!</h1>
      <p class="lead">Explora estos cuadros dinámicos y descubre información valiosa, precios actualizados y noticias impactantes de empresas externas o el mundo. ¡Potencia tus hojas de cálculo de forma gratuita!</p>
      <p class="lead">Para ubicarte más rápido, simplemente haz clic en el nombre de la empresa que te interese y serás redirigido a su página oficial. ¡Así de fácil!</p>
      <hr class="my-4">
      <p>Utiliza nuestras secciones como prefieras para impulsar tu empresa, emprendimiento o análisis. Estamos aquí para apoyarte en cada paso. ¡Gracias por elegirnos!</p>
      <p class="lead">
        <span class="font-weight-bold">Cordialmente,</span><br>
        <span class="font-italic">@icartecnology</span>
      </p>
    </div>
  </div>

  <div class="container">
    <div class="row site-item">
      <!-- Quandl -->
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5 class="card-title text-center">Quandl</h5>
            <a href="https://www.quandl.com/" target="_blank" class="stretched-link"></a>
          </div>
        </div>
      </div>

      <!-- Yahoo News -->
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5 class="card-title text-center">Yahoo News</h5>
            <a href="https://news.yahoo.com/" target="_blank" class="stretched-link"></a>
          </div>
        </div>
      </div>

       <!-- Investing.com -->
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5 class="card-title text-center">Investing.com</h5>
            <a href="https://www.investing.com/" target="_blank" class="stretched-link"></a>
          </div>
        </div>
      </div>

      <!-- MarketWatch -->
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5 class="card-title text-center">MarketWatch</h5>
            <a href="https://www.marketwatch.com/" target="_blank" class="stretched-link"></a>
          </div>
        </div>
      </div>

      <!-- Bloomberg -->
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5 class="card-title text-center">Bloomberg</h5>
            <a href="https://www.bloomberg.com/" target="_blank" class="stretched-link"></a>
          </div>
        </div>
      </div>

      <!-- Investopedia -->
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5 class="card-title text-center">Investopedia</h5>
            <a href="https://www.investopedia.com/" target="_blank" class="stretched-link"></a>
          </div>
        </div>
      </div>

      <!-- Google Public Data Explorer -->
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5 class="card-title text-center">Google Public Data Explorer</h5>
            <a href="https://www.google.com/publicdata/" target="_blank" class="stretched-link"></a>
          </div>
        </div>
      </div>

      <!-- BBC News Country Profiles -->
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5 class="card-title text-center">BBC News Country Profiles</h5>
            <a href="https://www.bbc.com/news/country" target="_blank" class="stretched-link"></a>
          </div>
        </div>
      </div>

      <!-- Our World in Data -->
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5 class="card-title text-center">Our World in Data</h5>
            <a href="https://ourworldindata.org/" target="_blank" class="stretched-link"></a>
          </div>
        </div>
      </div>

      <!-- Trading Economics -->
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5 class="card-title text-center">Trading Economics</h5>
            <a href="https://tradingeconomics.com/" target="_blank" class="stretched-link"></a>
          </div>
        </div>
      </div>

      <!-- United Nations Statistics Division -->
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5 class="card-title text-center">United Nations Statistics Division</h5>
            <a href="https://unstats.un.org/" target="_blank" class="stretched-link"></a>
          </div>
        </div>
      </div>

      <!-- International Monetary Fund (IMF) -->
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5 class="card-title text-center">International Monetary Fund (IMF)</h5>
            <a href="https://www.imf.org/" target="_blank" class="stretched-link"></a>
          </div>
        </div>
      </div>

      <!-- World Bank -->
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5 class="card-title text-center">World Bank</h5>
            <a href="https://www.worldbank.org/" target="_blank" class="stretched-link"></a>
          </div>
        </div>
      </div>

      <!-- Binance -->
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5 class="card-title text-center">Binance</h5>
            <a href="https://www.binance.com/" target="_blank" class="stretched-link"></a>
          </div>
        </div>
      </div>

      <!-- Yahoo Finance -->
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5 class="card-title text-center">Yahoo Finance</h5>
            <a href="https://finance.yahoo.com/" target="_blank" class="stretched-link"></a>
          </div>
        </div>
      </div>

    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>